---
import DefaultLayout from "@/layouts/Default.astro";
import { getCollection } from "astro:content";
import Hero from "@/components/Hero.astro";
import Badge from "@/components/Badge.astro";
import InternalLink from "@/components/InternalLink.astro";

const posts = (await getCollection("blog"))
  .filter((post) => post.data?.draft !== true)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<DefaultLayout title="Blog">
  <Hero>
    <h1 class="title"><Badge class="hero-badge">Blog</Badge></h1>
    <p>or as I like to call it: <i>"Better write it down before I forget"</i>.</p>
    <p class="h2 display">
      Ideas, experiments, and unfiltered mental loops. <b
        >I can't promise structure or conclusions</b
      >, but at least it's written.
    </p>
    <p>
      If you enjoy the content and want to see it in English… ring the bell <svg
        class="translate"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 256"
        aria-label="just kidding, there's no bell, just the Google Translate icon"
        ><path fill="none" d="M0 0h256v256H0z"></path><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="12"
          d="m232 216-56-112-56 112M136 184h80M88 32v24M24 56h128M120 56a96 96 0 0 1-96 96"
        ></path><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="12"
          d="M61.5 88a95.9 95.9 0 0 0 90.5 64"></path></svg
      >.
    </p>
    <InternalLink href="/blog">Read posts in Spanish</InternalLink>
  </Hero>
</DefaultLayout>

<style>
  .title {
    margin-bottom: 0;
  }

  .translate {
    background-color: var(--surface);
    border: var(--border);
    border-color: currentColor;
    border-radius: 0.25em;
    display: inline-block;
    height: 1.25em;
    vertical-align: middle;
    width: 1.25em;
  }
</style>
