---
import DefaultLayout from "@/layouts/Default.astro";
import Hero from "@/components/Hero.astro";
---

<DefaultLayout>
  <Hero>
    <p class="h1 title">Has roto algo. Bien, ya <b>tenemos algo en común</b>.</p>
  </Hero>
</DefaultLayout>

<style>
  .title {
    margin-inline: auto;
    max-width: 30ch;
    padding-block: 4rem;
  }
</style>
