---
import ExternalLink from "@/components/ExternalLink.astro";
import { LINKEDIN_URL, GITHUB_URL } from "@/consts";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const { position, class: className } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul class:list={["social-links", position === "header" ? "social-links--header" : "", className]}>
  <li>
    <ExternalLink href={LINKEDIN_URL}>
      <span class="visually-hidden">{t("followMeOn")} LinkedIn</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xml:space="preserve"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"
        viewBox="0 0 512 512"
        astro-icon="social/linkedin"
        aria-hidden="true"
        ><path
          d="M256 0c141.29 0 256 114.71 256 256 0 141.29-114.71 256-256 256C114.71 512 0 397.29 0 256 0 114.71 114.71 0 256 0Zm-80.037 399.871V199.95h-66.464v199.921h66.464Zm239.62 0V285.225c0-61.409-32.787-89.976-76.509-89.976-35.255 0-51.047 19.389-59.889 33.007V199.95h-66.447c.881 18.757 0 199.921 0 199.921h66.446v-111.65c0-5.976.43-11.95 2.191-16.221 4.795-11.935 15.737-24.299 34.095-24.299 24.034 0 33.663 18.34 33.663 45.204v106.966h66.45ZM143.18 103.55c-22.74 0-37.597 14.95-37.597 34.545 0 19.182 14.405 34.544 36.717 34.544h.429c23.175 0 37.6-15.362 37.6-34.544-.43-19.595-14.424-34.545-37.149-34.545Z"
          fill="currentColor"></path></svg
      >
    </ExternalLink>
  </li>
  <li>
    <ExternalLink href={GITHUB_URL}>
      <span class="visually-hidden">{t("goToMyGitHubProfile")}</span>
      <svg viewBox="0 0 16 16" astro-icon="social/github" aria-hidden="true"
        ><path
          fill="currentColor"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
        ></path></svg
      >
    </ExternalLink>
  </li>
</ul>

<style>
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;

    a {
      color: currentColor;
      display: inline-block;
      padding: 0;
      text-decoration: none;
    }

    svg {
      display: block;
      height: 2.25rem;
      width: 2.25rem;
    }

    &.social-links--header {
      display: none;

      svg {
        width: 1.75rem;
        height: 1.75rem;
      }

      @media screen and (min-width: 36em) {
        display: flex;
      }
    }
  }
</style>
