---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, translations } from "@/consts";
import SkipLink from "@/components/SkipLink.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

type Props = {
  title?: string;
  description?: string;
  lang?: "es" | "en";
};

const { title, description } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!--
â €â €â €â €â£ â£¤â£¤â¡€â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â¢€â£¤â£¤â£„â €â €â €â €
â €â €â €â ¸â£¿â£¿â£¿â£¿â¡€â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â£¿â£¿â£¿â£¿â£‡â €â €â €
â¢€â£¤â£¤â£¼â£¿â£¿â£¿â£¿â ƒâ €â €â €â €â €â €â €â €â£€â£¤â£¶â£¾â£¿â£¿â£¿â£¿â£¿â£¿â£·â£¶â£¤â£„â €â €â €â €â €â €â €â €â €â¢¿â£¿â£¿â£¿â£¿â£¤â£¤â¡€
â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¦â¡€â €â €â €â €â¢€â£´â¡žâ ¹â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â¡¿â£¦â¡€â €â €â €â €â¢€â£´â£¶â£¿â£¿â£¿â£¿â£¿â£¿â£¿
â ™â ¿â£¿â¡¿â â¢¿â£¿â£¿â£¿â£¿â£¦â£€â €â£´â£¿â Ÿâ£¤â¡¿â¢â£¿â¢›â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â¡ˆâ¢¿â£¤â¡™â£¿â£¦â¡€â¢€â£°â£¿â£¿â£¿â£¿â¡¿â ™â¢¿â£¿â ¿â ‹
â €â €â €â €â €â €â ™â »â£¿â£¿â£¿â ƒâ ºâ ›â Ÿâ »â ›â “â ›â ›â ›â ›â ›â ›â ›â ›â ›â Ÿâ ›â Ÿâ †â Ÿâ ›â šâ Ÿâ ³â ˜â£¿â£¿â£¿â¡¿â ‹â €â €â €â €â €â €
â €â €â €â €â €â €â €â €â ˆâ »â¡â €â¡€â ‚â Œâ €â Œâ  â â Œâ  â â Œâ  â â Œâ â¡€â ¡â €â ‚â ˆâ â €â¢‚â â €â¢¸â Ÿâ ‰â €â €â €â €â €â €â €â €
â €â €â €â €â¢€â£€â£€â£€â£€â£€â£€â£€â£€â£â£â£ˆâ£€â£€â£â£€â£€â£‚â£â£€â£ˆâ£€â£‚â£€â£â£€â£‚â£â£€â£â£‚â£€â£â£€â£€â£€â£€â£€â£€â£€â €â €â €â €
â €â €â €â €â »â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ¿â ‡â €â €â €
â €â €â €â €â €â €â €â €â €â €â €â¢¿â£¿â£¿â£¿â£¿â¡¿â ‹â ‰â ›â »â£¿â£¿â£¿â£¿â£¿â£¿â Ÿâ ‰â ‰â ›â ¿â£¿â£¿â£¿â£¿â£¿â ƒâ €â €â €â €â €â €â €â €â €â €
â €â €â €â €â €â €â €â €â €â €â €â ˜â£¿â£¿â£¿â¡Ÿâ €â €â €â €â €â €â¢»â£¿â£¿â£¿â â €â €â €â €â €â ¹â£¿â£¿â£¿â â €â €â €â €â €â €â €â €â €â €â €
â €â €â €â €â €â €â €â €â €â €â €â €â ˜â£¿â£¿â¡‡â €â €â €â €â €â €â£¼â£¿â£¿â£¿â €â €â €â €â €â €â¢ â£¿â£¿â â €â €â €â €â €â €â €â €â €â €â €â €
â €â €â €â €â €â €â €â €â €â €â €â €â €â ˜â¢»â£¿â£¦â£€â£€â£€â£ â£´â£¿â¡¿â ¿â£¿â£·â£„â£€â£€â£€â£¤â£¿â Ÿâ â €â €â €â €â €â €â €â €â €â €â €â €â €
â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â ‰â »â¢¿â£¿â£¿â£¿â£¿â£‡â €â €â£¨â£¿â£¿â£¿â£¿â ¿â ‹â â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €
â €â €â €â €â €â €â €â €â €â €â €â €â €â €â¢€â£ â¢°â£¶â£¬â£â¢™â£›â ›â ™â ‹â ™â£‰â¡‰â£­â£´â£¾â¡„â£¦â¡€â €â €â €â €â €â €â €â €â €â €â €â €â €â €
â €â €â €â €â €â €â €â €â €â €â €â €â¢€â£´â£¿â¡‡â£â¡›â ¿â â£·â£¿â£¿â£¿â¢¸â£¿â£¿â£§â¢¿â ¿â Ÿâ£â¢»â£¿â£¦â¡€â €â €â €â €â €â €â €â €â €â €â €â €
â €â €â €â €â €â €â €â €â €â €â£€â£´â£¿â£¿â£¿â¡‡â ¾â£¿â£·â£†â£¤â£­â£­â£â¢¨â£­â£­â£¥â â£¶â£¿â¡Ÿâ¢¸â£¿â£¿â£¿â£¦â£„â €â €â €â €â €â €â €â €â €â €
â €â €â €â €â¢ â£´â£¾â£¿â£¦â£¼â£¿â£¿â£¿â£¿â Ÿâ ƒâ£·â£¬â£™â¡›â »â ¿â£¿â£¿â¢¸â£¿â¡¿â ¿â¢˜â£‹â£¥â£¶â ˜â »â£¿â£¿â£¿â£¿â£·â£´â£¾â£¿â£¶â¡„â €â €â €â €
â €â €â €â €â¢ºâ£¿â£¿â£¿â£¿â£¿â£¿â£¿â Ÿâ â €â €â¢»â£¿â£¿â£¿â£·â£¶â£¶â£¶â£¶â£¶â£¶â£¾â£¿â£¿â£¿â¡â €â €â ˆâ »â£¿â£¿â£¿â£¿â£¿â£¿â£¿â¡¿â €â €â €â €
â €â €â €â €â €â ™â ›â¢»â£¿â£¿â£¿â£¿â¡†â €â €â €â €â »â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â Ÿâ €â €â €â €â¢ â£¿â£¿â£¿â£¿â¡Ÿâ ›â ‹â â €â €â €â €
â €â €â €â €â €â €â €â ¸â£¿â£¿â£¿â£¿â ‡â €â €â €â €â €â ˆâ ¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â ¿â â €â €â €â €â €â ˆâ£¿â£¿â£¿â£¿â¡‡â €â €â €â €â €â €â €
â €â €â €â €â €â €â €â €â ™â ›â ›â â €â €â €â €â €â €â €â €â €â ‰â ‰â ›â ›â ‰â ‰â €â €â €â €â €â €â €â €â €â ˆâ ›â šâ ‹â €â €â €â €â €â €â €â €

Hey, nakama! ðŸ‘‹
â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
This website is open source, you can see the original code on GitHub.
You can also find more information about the technologies I used to create it in the humans.txt file.

ðŸ›   Open source, you can see the original code on GitHub
    â†’ https://github.com/italodr/italodr.com

ðŸ¤–  Transparency for AI (prompting, models, etc.)
    â†’ https://italodr.com/llms.txt

ðŸ™‹  Credits for the human team
    â†’ https://italodr.com/humans.txt
-->
<html lang={lang}>
  <head>
    <BaseHead title={title ?? SITE_TITLE} description={description ?? t("description")} />
  </head>

  <body>
    <SkipLink href="#main-content">{t("skipToMainContent")}</SkipLink>
    <Header lang={lang} />
    <main id="main-content">
      <slot />
    </main>
    <Footer lang={lang} />
  </body>
</html>
